In [1]:
#Convert an integer to a floating-point number.

num = 5

floating = float(num)

print(floating)

5.0

In [3]:
num=6

floating = float(num)

print(floating)

6.0

In [4]:
#Convert a float to an integer.

float = 7.5

integer = int(7.5)

print(integer)

7

In [8]:
#Convert an integer to a string.

int = 5

string = str(int)

print(string)

5

In [16]:
#Convert a list to a tuple.

lis = [1,2,3,4,5,"sohaib",True]
mytuple = tuple(lis)
print("tuple =",mytuple)

tuple = (1, 2, 3, 4, 5, 'sohaib', True)

In [17]:
#Convert a tuple to a list.

tupl = (1,2,3,4,5,"ajay")
lis=list(tupl)
print(lis)

[1, 2, 3, 4, 5, 'ajay']

In [27]:
#Convert a decimal number to binary.

decimal = int(input('enter a number here:'))

print_("the conversion of decimal number",decimal,"is: ")
print_(bin(decimal),"in binary")
print_(oct(decimal),"in octal")
print_(hex(decimal),"in hexadecimal")

enter a number here: 12

TypeError: 'int' object is not callable

In [28]:
#Convert a non-zero number to boolean.

num = 12
print(bool(num))

True

In [30]:
num=-23
print(bool(num))

True

In [ ]:
>>>>>>